* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background: #e9e9e9;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20 50 20 50px;
}

.menu {
  width: 30px;
}

.nav {
  background-color: white;
  padding: 20 30 20 30px;
  border-radius: 32px;
  text-decoration: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
}

.icons {
  display: flex;
  flex-direction: row;
}

.langue {
  background-color: white;
  padding: 20px;
  border-radius: 100%;
}

.icon {
  background-color: white;
  padding: 20px;
  border-radius: 100%;
  width: 64px;
}
